# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
dist-server/
out-tsc/
bazel-out/

# Log files
npm-debug.log
yarn-error.log
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Misc
dist/
coverage/
.angular/
